.settings .ng-pristine {
     border: 1px solid #5da423;
}
.settings .ng-dirty {
    border: 1px solid #f1c40f;
}
.settings .ng-invalid.ng-dirty {
    border: 1px solid #c60f13;
}

.settings  .ng-valid.ng-dirty {
    border: 1px solid #5da423;
}

.settings  input.ng-invalid-minlength.ng-dirty {
    border: 1px solid #2ba6cb;
}
.settings input.ng-invalid-maxlength.ng-dirty {
    border: 1px solid #2ba6cb;
}

.mailIntro  {
    margin-top: 20px;
}

textarea {
    height: 100px;
}
#emailListing {
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
}

.mailSide {
    margin-top: 20px;
}

.emailListing {
    height: 120px;
    overflow: hidden;
    padding: 13px;
}

.emailListing img{

}

.emailListing .date{
    font-size: 0.5em;
    color: blue;
    display: none;
}

.emailListing .subject {
    font-size: 0.8em;
}

.emailListing:hover {
    background-color: #eee;
}

#emailListing .selected {
    background-color: #bbb;

}
